<div class="search-container">
  <% if @results.count == 0 %>

    <div class="list-group">
      <h6>Nothing to match the search term "<strong><%= params[:q] %></strong>", try something different!</h6>
    </div>

  <% else %>

    <h4>Search Results for "<strong><%= params[:q] %></strong>" </h4>

    <%= render partial: '/shared/paginate_solr_collection' %>

    <% @results.each do |result| %>
      <%= render partial: "#{result.class.name.underscore}", locals: { object: result } %>
    <% end %>

  <% end %>
</div>