<%= form_for(@subject) do |f| %>
  <div id="form_errors">
    <% render partial: "/shared/form_errors", locals: { obj: @subject, name: "subject" } %>
  </div>
  <div class="field">
    <%= f.label :name, required_span_with("Name") %><br>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
