.overflow-auto{
  overflow: auto;
}

.seamless-links:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  background: #c4e17f;
  border-radius: 5px 5px 0 0;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
.seamless-links {
  left: 50%;
top: 30px;
transform: translate(-50%, -50%);
position: fixed;
 width: 100%;
 text-align: center;
   background-color: rgba(0,0,0,0.8);
 }

 .seamless-links button {

width: 230px;
margin: 0px auto;
}

.seamless-span-row, .span-row {
  overflow: hidden;
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  white-space: nowrap;
}

.seamless-item, .item {
  float: left
}

.seamless-item > span, .item > span {
  display: inline-block;
}

.seamless-item > span > img, .item > span > img {
  overflow: hidden;
}

.clear {
  clear: both;
}

#wall {
   padding: 0px;
}

.full-wall, #full-wall-copy {
  height: auto;
  white-space: nowrap;
  overflow: hidden;
  float: left;
}

.wrapper {
  width: auto;
  height: auto;
  overflow: auto;
  position: relative;
}

.scale {
  position: relative;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}

.center {
  margin: 10px 0;
  text-align: center;
}

form#customWallForm{
  /*text-align: center;*/
}

form#customWallForm input, form#login_form input{
/*  width: 200px;
  margin-left:10px;*/
}

form#customWallForm div, form#login_form div{
  margin-bottom: 5px;

}

#login_container{
 /* text-align: center;*/
}

li.list-menu > ul.sub-menu{
  display: none;
  background-color: #eee;
  display: none;
  left: 201px;
  list-style-type: disc;
  position: absolute;
  top: 0;
  width: 100px;
}

li.list-menu:hover > .sub-menu{
  display: block;
  background-color: #eee;
}

.contextMenu li.list-menu:hover > a {
  background-color: #eee;
  color: #333;
}

li.list-menu:hover ul.sub-menu li:hover {
  background-color: #3399FF;
}

.lightbox {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 100;
  background: 'grey';
  display: none;
}

#user_designs_list_container{
  height: 400px;
  overflow: auto;

}

.bring-back-toolbar{
  margin-right: 20px;
}

.bring-back-toolbar button{
  -webkit-transform: rotate(180deg);
     -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
       -o-transform: rotate(180deg);
          transform: rotate(180deg);
}

.roate-180{
  -webkit-transform: rotateY(180deg);
     -moz-transform: rotateY(180deg);
      -ms-transform: rotateY(180deg);
       -o-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.red {
  color: #CB0200;
}

.font-size-20 {
  font-size: 20px;
}


#ajax-loader {
  width: 100%;
  height: 100%;
  z-index: 99999;
  opacity: 0.3;
  background-color: grey;
  position: fixed;
  left: 0px;
  top: 0px;
  align-self: center;
  background: url('../../images/ajax-loader.gif') 50% 50% no-repeat rgb(249,249,249);
  display: none;
}
#seamless-wall-container{
 margin: 10px auto 10px;
box-shadow: 0px 0px 0px 8px #fff;


}
.wall-seam{
width: 100%!important;
overflow: auto;
height: 88%;
position: fixed;
text-align: center;
top: 60px;
padding-top: 3px;
}


button#save-seamless-wall{

}
.vspace{
  display: block;
   margin-top: 15px;
 }
 @-moz-document url-prefix() {
  .stickheader img {
     width: 100%;
  }
}
#bottom-container .row{ margin: 0px;}



.sign-up label{ color: #2b2b2b;}

.sign-up {
  position: relative;
  margin: 30px auto;
  width: 380px;
  padding: 33px 25px 29px;
  background: white;
  border-bottom: 1px solid #c4c4c4;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.sign-up:before, .sign-up:after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  height: 10px;
  background: inherit;
  border-bottom: 1px solid #d2d2d2;
  border-radius: 4px;
}
.sign-up:after {
  bottom: 3px;
  border-color: #dcdcdc;
}

.sign-up-title {
  margin: -25px -25px 25px;
  padding: 10px 20px;
  line-height: 35px;
  font-size: 26px;
  font-weight: 300;
  color: #aaa;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.75);
  background: #f7f7f7;
}
.sign-up-title:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 8px;
  background: #c4e17f;
  border-radius: 5px 5px 0 0;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

input {
  font-family: inherit;
  color: inherit;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.sign-up-input {
  width: 100%;
  height: 50px;

  padding: 0 15px 2px;
  font-size: 17px;
  background: white;
  border: 2px solid #ebebeb;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -2px #ebebeb;
  box-shadow: inset 0 -2px #ebebeb;
 color: #2b2b2b;
}
.sign-up-input:focus {
  border-color: #62c2e4;
  outline: none;
  -webkit-box-shadow: inset 0 -2px #62c2e4;
  box-shadow: inset 0 -2px #62c2e4;
}
.lt-ie9 .sign-up-input {
  line-height: 48px;
}

.sign-up-button {
  position: relative;
  vertical-align: top;
  width: 100%;
  height: 54px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #F58220;
  border: 0;
  border-bottom: 2px solid #FF8228;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #FF8228;
  box-shadow: inset 0 -2px #f36100;
    display: block;
  line-height: 50px;
}
.sign-up-button:active {
  top: 1px;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.sign-up-button:hover{ text-decoration: none; color: #fff;}
:-moz-placeholder {
  color: #ccc;
  font-weight: 300;
}

::-moz-placeholder {
  color: #ccc;
  opacity: 1;
  font-weight: 300;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-weight: 300;
}

:-ms-input-placeholder {
  color: #ccc;
  font-weight: 300;
}

::-moz-focus-inner {
  border: 0;
  padding: 0;
}
.custom-overlay{  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
  background-color: rgba(0,0,0,0.7); /*dim the background*/
}

.close-btn i{
  background: #f58220;
  color: #fff;
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50px;
  font-size: 30px;
}

button#save-seamless-wall i{
  display: inline-block;
  margin-right: 8px;
  font-size: 34px;
  margin-left: -10px;
  vertical-align: middle;
 }

.right-padding{ padding-right: 0px!important;}

.plant-title, .color-title, .texture-title, .mortar-title, .brick-type-title, .brick-title, .mortar-manufacturer-title {
  text-align: center;
  color: white;
  width: 85%;
  font-size: 18px;
  padding-top: 5px;
}

.plant-list-container, .color-list-container, .mortar-list-container, .brick-type-list-container, .brick-list-container, .mortar-manufacturers-list-container, .texture-container {
  width: 85%;
  height: 250px;
}

.plant-active, .color-active, .mortar-active, .brick-type-active, .brick-active, .product-active, .mortor-manufacturer-active, .brick-type-active, .texture-active {
  border: 3px solid red;
}

.product-div {
  width: 73%;
}

i.plus-icon {
  background: url("../../images/accurate-image/sub-menu-expand-sprite12.png") no-repeat scroll right 5px rgba(0, 0, 0, 0) !important;
  display: block;
  height: 22px;
  width: 30px;
}

i.active-submenu {
  background: url("../../images/accurate-image/sub-menu-collaspe-sprite11.png") no-repeat scroll right 5px !important;
  display: block;
  height: 22px;
  width: 30px;
}