<p>Hello Madam/Sir</p>

<br />
<p>A schedule for your child has been added</p>
<br />

<p>
  Title: <%= @schedule.title %><br />
  Start Time: <%= @schedule.start_time %><br />
  End Time: <%= @schedule.end_time %><br />
</p>
<br />
<p>
  Thank You
</p>
