<p>Hello Madam/Sir</p>

<br />
<p>A schedule for your child has been removed</p>
<br />

<p>
  Title: <%= @title %><br />
  Start Time: <%= @start_time %><br />
  End Time: <%= @end_time %><br />
</p>
<br />
<p>
  Thank You
</p>
