<div>
  <input type="text" class="multiple-choices-input-<%= "#{name}" %>">
  <a href="javascript:void(0);" class="remove-multiple-choice">Remove</a>
  <br>
</div>

<a href="javascript:void(0);" class="add_more_multiple_choices">Add More</a> |
<a class="add_multiple_choice" href="javascript:void(0);"> Done </a>