.navbar-inner {
  background-color: #C57A63;
  background-image: linear-gradient(to bottom, #180301, #180301);
}

body div.github-fork-ribbon-wrapper.left {
  left: auto;
  right: 0;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}

.center-block {
  display: table;
  margin: 0 auto;
}

#myCarousel .carousel-inner .carousel-caption h3{
    margin: 0;
    color: #666;
    padding-top: auto;
    font-size: 40px;
    /*font-family: "trebuchet ms", sans-serif;*/
}
.item{
    background: #333;
    text-align: center;
    height: 600px;
    /*height: 300px !important;*/
}
.carousel{
    margin-top: 20px;
}
.bs-example{
  margin: 20px;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: inherit;
}

.navbar .brand {
  color: #FFA500;
}

.btn-navbar-custom {
  background-color: ##666666;
  background-image: linear-gradient(to bottom, #666660, #666666);
  background-repeat: repeat-x;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  color: #FFFFFF;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-navbar-custom:hover {
  background-color: #666666;
  color: #FFFFFF;
}


body {
  background-color: #FFFFFF;
  color: #333333;
  /*font-family: verdana,arial,helvetica,sans-serif;*/
  font-size: 13px;
  line-height: 18px;
  width: 97%;

}
p, ol, ul, td {
  /*font-family: verdana,arial,helvetica,sans-serif;*/
  font-size: 13px;
  line-height: 18px;
}
pre {
  background-color: #EEEEEE;
  font-size: 11px;
  padding: 10px;
}
div.field, div.actions {
  margin-bottom: 10px;
}
#notice {
  color: #008000;
}
.field_with_errors {
  background-color: #FF0000;
  display: table;
  padding: 2px;
}
#error_explanation {
  background-color: #F0F0F0;
  border: 2px solid #FF0000;
  margin-bottom: 20px;
  padding: 7px 7px 0;
  width: 450px;
}
#error_explanation h2 {
  background-color: #CC0000;
  color: #FFFFFF;
  font-size: 12px;
  font-weight: bold;
  margin: -7px -7px 0;
  padding: 5px 5px 5px 15px;
  text-align: left;
}
#error_explanation ul li {
  font-size: 12px;
  list-style: square outside none;
}

div.inline-div {
  display: inline-table;
  width: 30%;
  padding-left: 10px;
}

#ajax-loader {
  width: 100%;
  height: 100%;
  z-index: 99999;
  opacity: 0.3;
  background-color: grey;
  position: fixed;
  left: 0px;
  top: 0px;
  align-self: center;
  background: url('/assets/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
  display: none;
}

#inline-div div, #inline-div-textarea div, .inline-div2 div {
  display: inline-table;
}

.have-margin {
  margin: 10px 10px 10px 10px;
}

.absoulte-position {
  position: absolute;
  margin: 0 0 0 5%;
}

body {
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.select2 {
  width:  220px;
}

.navbar .nav > li > a {
  color: #FFFFFF;
  padding: 10px 5px;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: #FFA500;
  font-size: 20px;
}

div.inline-div.width-100-percent {
  width: 100%;
}

.table-striped tbody > tr:nth-child(2n+1) > td, .table-striped tbody > tr:nth-child(2n+1) > th {
    background-color: #D3D3D3;
}

.pagination {
  padding: 8px;
  background-clip: padding-box;
  border: 1px solid;
  border-color: #070809 #0d0e0f #131517;
  border-color: rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.65) rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.12), rgba(0, 0, 0, 0));
  -webkit-box-shadow: 0 1px rgba(255, 255, 255, 0.05);
  box-shadow: 0 1px rgba(255, 255, 255, 0.05);
  font: 13px/20px; /*'Lucida Grande', Tahoma, Verdana, sans-serif;*/
  color: #404040;
  background: #26272c;
}
.pagination > a, .pagination > em {
  float: left;
  margin-left: 5px;
  padding: 0 6px;
  min-width: 17px;
  line-height: 27px;
  /*font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;*/
  font-size: 12px;
  font-weight: 500;
  color: #d4d4d4;
  text-align: center;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 3px;
}
.pagination :first-child {
  margin-left: 0;
}
.pagination > a, .pagination > span {
  text-decoration: none;
  text-shadow: 0 1px black;
  background-clip: padding-box;
  border-color: rgba(0, 0, 0, 0.9);
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.04), rgba(255, 255, 255, 0));
  -webkit-box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.04), inset 0 1px rgba(255, 255, 255, 0.04), inset 0 -1px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.04), inset 0 1px rgba(255, 255, 255, 0.04), inset 0 -1px rgba(0, 0, 0, 0.15), 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: 0.1s ease-out;
  -moz-transition: 0.1s ease-out;
  -o-transition: 0.1s ease-out;
  transition: 0.1s ease-out;
}
.pagination > a:hover{
  background-color: #333;
  background-color: rgba(255, 255, 255, 0.05);
}
.pagination > em, .pagination > a:active {
  color: #eee;
  text-shadow: 0 -1px black;
  background: #1c1c1c;
  background: rgba(255, 255, 255, 0.01);
  border-color: black rgba(0, 0, 0, 0.65) rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.05), inset 0 2px 2px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.06);
}
.pagination .prev, .pagination .next {
  /*font-family: Noteworthy, Arial, sans-serif;*/
  font-size: 14px;
}

.pagination .disabled {
  display: none;
}

.pagination > span.gap {
  background-image: none;
  box-shadow: none;
  text-shadow: 0 0;
  float: left;
  margin-left: 5px;
}
body {
  background-image: url("/assets/background.jpg");
  background-repeat: repeat;
}

.searchbar-custom {
  cursor: pointer;
  position: absolute;
  right: 5%;
  top: 30%;
}

.align-from-left, .search-container {
  margin-left: 5%;
  margin-right: 25%;
}

.search-highlight {
  color: #FB59AA;
  background-color: #ffffff;
}

div#header_container {
  position: fixed;
  top: 0;
  height: 50px;
  width: 100%;
  z-index: 1;
}

div#main_container{
  padding-top: 50px;
    padding-bottom: 50px;
    top:0px;
    bottom:0px;
    width:100%;
}

.margin-left-20 {
  margin-left: 20px
}

.required {
  color: #B01313;
}

div#student_more_modalboxdal.modal {
  width: 900px;
  margin-left: -28%;
  margin-right: auto;
}

.modal {
  width: 700px;
}

.modal.fade {
  top: 25%;
}

.modal .modal-body {
    max-height: 420px;
    overflow-y: auto;
}

.modal-header .close {
  /*display: none;*/
}

.red {
  color: #B01313;
}

.green {
  color: #006404;
}

.blue {
  color: #2EA5CD;
}

.my-orange{
  color: #BB8900;
}

table.blue-text-last-td.table-bordered th, table.blue-text-last-td.table-bordered td:last-child {
  color: #B21515;
}

.responsive-calendar .day.header {
  border-bottom: none;
}

.responsive-calendar {
   background-color: #ffffff;
}

.responsive-calendar .day a {
  border: 1px solid gray;
}

.responsive-calendar .controls {
  color: #ffa500;
}

.responsive-calendar .controls .btn {
  border-radius: 10px;
  margin: 5px 5px 0;
}

.responsive-calendar .day .left-badge {
    left: 2px;
    position: absolute;
    top: 2px;
    z-index: 1;