body div.github-fork-ribbon-wrapper.left {
  left: auto;
  right: 0;
  -webkit-transform: rotate(90deg);
     -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
       -o-transform: rotate(90deg);
          transform: rotate(90deg);
}

.center-block {
  display: table;
  margin: 0 auto;
}

#myCarousel .carousel-inner .carousel-caption h3{
    margin: 0;
    color: #666;
    padding-top: auto;
    font-size: 40px;
    font-family: "trebuchet ms", sans-serif;
}
.item{
    background: #333;
    text-align: center;
    height: 600px;
    /*height: 300px !important;*/
}
.carousel{
    margin-top: 20px;
}
.bs-example{
  margin: 20px;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: inherit;
}

.navbar .brand {
  color: #F58220;
}

.btn-navbar-custom {
    background-color: ##666666;
    background-image: linear-gradient(to bottom, #666660, #666666);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-navbar-custom:hover {
    background-color: #666666;
    color: #FFFFFF;
}


body {
    background-color: #FFFFFF;
    color: #333333;
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
}
p, ol, ul, td {
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 13px;
    line-height: 18px;
}
pre {
    background-color: #EEEEEE;
    font-size: 11px;
    padding: 10px;
}
div.field, div.actions {
    margin-bottom: 10px;
}
#notice {
    color: #008000;
}
.field_with_errors {
    background-color: #FF0000;
    display: table;
    padding: 2px;
}
#error_explanation {
    background-color: #F0F0F0;
    border: 2px solid #FF0000;
    margin-bottom: 20px;
    padding: 7px 7px 0;
    width: 450px;
}
#error_explanation h2 {
    background-color: #CC0000;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    margin: -7px -7px 0;
    padding: 5px 5px 5px 15px;
    text-align: left;
}
#error_explanation ul li {
    font-size: 12px;
    list-style: square outside none;
}

div.inline-div {
  display: inline-table;
  width: 30%;
  padding-left: 10px;
}

div.inline-div textarea.test-result-textarea {
  width: 210%;
  height: 130px;
}