<div class="center-block">

  <p id="notice"><%= notice %></p>

  <p>
    <strong>Name:</strong>
    <%= @class_test.name %>
  </p>

  <%= link_to 'Edit', edit_class_test_path(@class_test) %> |
  <%= link_to 'Back', class_tests_path %>
</div>